<div id="shippingContainer">
  <h2>Ship To:</h2>
  <label>Name</label>
  <input type="text" ng-model="customer.shipping[0].name" /><br>
  <label>Address</label>
  <input type="text" ng-model="customer.shipping[0].address" /><br>
  <label>City</label>
  <input type="text" ng-model="customer.shipping[0].city" /><br>
  <label>State</label>
  <input type="text" ng-model="customer.shipping[0].state" /><br>
  <label>Zipcode</label>
  <input type="text" ng-model="customer.shipping[0].zip" />
  <hr>
  <div>
    <span class="button" ng-click="setShipping()">
      Continue to Billing
    </span>
    <span class="button" ng-click="setContent('products.html')">
      Continue Shopping
    </span>
  </div>
</div>