<!doctype html>
<html ng-app="myApp">
<head>
  <title>User Login and Sessions</title>
  <link rel="stylesheet" type="text/css" 
      href="/static/css/styles.css" />
</head>
<body>
  <div ng-controller="myController">
    <h2>Welcome. Your are Logged In as <%= username %></h2>
    <a href="/logout">logout</a>
    <a href="/user">Edit User</a>
    <p>Place Your Code Here<p>
  </div>
  <hr><%= msg %>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="/static/js/my_app.js"></script>
</body>
</html>