<!doctype html>
<html>
<head>
  <title>User Login and Sessions</title>
  <link rel="stylesheet" type="text/css" 
        href="/static/css/styles.css" />
</head>
<body>
  <div class="form-container">
    <p class="form-header">Login</p>
    <form method="POST">
        <label>Username:</label>
        <input type="text" name="username"><br>
        <label>Password:</label>
        <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
  </div>
  <a href="/signup">Sign Up</a>
  <hr><%= msg %>
</body>
</html>