<!doctype html>
<html>
<head>
  <title>User Login and Sessions</title>
  <link rel="stylesheet" type="text/css" 
      href="/static/css/styles.css" />
</head>
<body>
  <div class="form-container">
    <p class="form-header">Sign Up</p>
    <form method="POST">
      <label>Username:</label>
        <input type="text" name="username"><br>
      <label>Password:</label>
        <input type="password" name="password"><br>
      <label>Email:</label>
        <input type="email" name="email"><br>
      <input type="submit" value="Register">
    </form>       
  </div>
  <hr><%= msg %>
</body>
</html>