<!doctype html>
<html ng-app="myApp">
<head>
  <title>Shopping Cart</title>
  <link rel="stylesheet" type="text/css" 
      href="/static/css/cart_styles.css" />
</head>
<body>
  <div ng-controller="shoppingController">
    <div id="banner">
      <div id="title">My Store</div>
      <div id="bar">
        <span class="orders" 
          ng-click="setContent('orders.html')">Orders</span>
        <span id="cartLink" ng-click="setContent('cart.html')">
            {{customer.cart.length}} items
            <img src="/images/cart.png" />
        </span>
      </div>
    </div>
    <div id="main">
      <div ng-include="content"></div>
    </div>
  </div>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="/static/js/cart_app.js"></script>
</body>
</html>